# Visual Studio
.vs/
*.suo
*.user
*.log
*.tlog
*.lastbuildstate
*.opendata
*.bak
*.sbr
*.bsc
*.map
*.pdb
*.obj
*.exe
*.dll
*.exp
*.lib
*.ncb
*.sdf
*.ipch
*.cache
*.VC.db
*.vshost.*
*.aps
*.res
*.resources
*.designer.cs
*.resharper
*.dotSettings
*.webtest
*.testrunconfig
*.vspscc
*.vsscc
*.scc
*.svn
*.git
*.npm
*.yarn
*.node_modules
*.env
*.DS_Store

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Aa]pp_Data/
*.vsix
*.vsi
*.nupkg
*.snk
*.publish
*.zip
*.rar
*.gz
*.tar
*.7z
*.bak
*.tmp

# NuGet
.nuget/
packages/
*.nupkg

# Rotativa (archivos de wkhtmltopdf que no deben ir al repo)
wwwroot/Rotativa/